<template name="Interests_Form_Field">
  <div class="{{#if required}}required{{/if}} field">
    <label>Interest(s)</label>
    <select multiple="" class="ui dropdown" name="interests">
      <option value="">Select Interest(s)</option>
        <option value="algorithms">111</option>
        <option value="software-engineering">141</option>
        <option value="scuba">Scuba</option>
        <option value="accreditation">Accreditation</option>
        <option value="surfing">Surfing</option>
    </select>
  </div>
</template>